<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%highlight(%level)] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/jersey.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/jersey.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        <maxHistory>30</maxHistory>
      </rollingPolicy>
      <encoder>
        <pattern>%date{ISO8601} %-5level %logger{36} &lt;%X{sourceThread}&gt; - %msg%n</pattern>
      </encoder>
    </appender>

  <root level="INFO">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="FILE" />
  </root>
</configuration>
